.order-popup-wrapper {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  padding-top: 60px;
}

.order-popup-modal {
  max-width: 900px;
  width: 100%;
  background-color: #fff;
}

.order-popup-modal img {
  object-fit: cover;
  height: 100%;
}

.btn-danger {
  background: linear-gradient(90deg, #ff0033, #ff004f);
  border: none;
}

.btn-danger:hover {
  background: linear-gradient(90deg, #cc002a, #cc003e);
}
